body {
	height: 100%;
	overflow: hidden;
}

.bg > figure {
	animation: imageAnimation 39s ease-in-out infinite 0s;
	backface-visibility: hidden;
	background-size: cover;
	background-position: center center;
	color: transparent;
	height: 100%;
	left: 0;
	opacity: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: -2;
	margin-block-start: 0;
	margin-block-end: 0;
	margin-inline-start: 0;
	margin-inline-end: 0;
}

.bg > figure:nth-child(1) {
	animation-delay: 0s;
	background-image: url("../../assets/images/bg1.jpg");
}

.bg > figure:nth-child(2) {
	animation-delay: 13s;
	background-image: url("../../assets/images/bg2.jpg");
}

.bg > figure:nth-child(3) {
	animation-delay: 26s;
	background-image: url("../../assets/images/bg3.jpg");
}

/* For "n" images You must define:
a=presentation time for one image
b=duration for cross fading
Total animation-duration is of course t=(a+b)*n

animation-delay = t/n or = a+b

Percentage for keyframes:

1 0%
2 a/t*100%
3 (a+b)/t*100% = 1/n*100%
4 100%-(b/t*100%)
5 100% */

@keyframes
imageAnimation {
	0% {
		opacity: 1;
	}

	27% {
		opacity: 1;
	}

	36% {
		opacity: 0;
	}

	92% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

.vagues {
	background-image: url("../../assets/images/vagues2.png");
	background-size: cover;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 0;
}

.bulles {
	background-image: url("../../assets/images/bulles.png");
	z-index: -1;
	background-size: cover;
	width: 477px;
	height: 391px;
	position: absolute;
	top: 815px;
	right: -110px;
}

.bassin1 {
	position: absolute;
	top: 770px;
	left: 240px;
}

.bassin2 {
	position: absolute;
	top: 750px;
	left: 640px;
}

.bassin3 {
	position: absolute;
	top: 770px;
	left: 1040px;
}

.bassin4 {
	position: absolute;
	top: 530px;
	left: 1420px;
}

.bassin5 {
	position: absolute;
	top: 230px;
	left: 1500px;
}