.EditeurCentral-wrapper {
	background: url("../../../assets/images/editeur-bg.png") no-repeat;
	margin: 0 auto;
	width: 1204px;
	overflow: hidden;
	position: absolute;
	top: 220px;
	left: 240px;
	padding: 0 0 80px;
	-webkit-background-size: 100%;
}

.rdw-editor-toolbar {
	margin-bottom: 10px;
}

.EditeurCentral-editor {
	box-sizing: content-box;
	overflow-y: scroll;
	padding-right: 17px;
	width: 100%;
}

.DraftEditor-root {
	padding: 0 55px 0 80px;
}